SPORTSBALL_DATABASE_URL=postgresql+psycopg://sportsball:sportsball@localhost:5432/sportsball
SPORTSBALL_WEB_DATABASE_URL=postgresql://sportsball:sportsball@localhost:5432/sportsball
SPORTSBALL_RAW_DATA_PATH=data/raw
POSTGRES_DB=sportsball
POSTGRES_USER=sportsball
POSTGRES_PASSWORD=sportsball
